.card {
    display: flex;
    /*justify-content: flex-start;*/
    /*align-items: flex-start;*/
    /*flex-direction: row;*/

    background: silver;

    box-sizing: border-box;
    padding: 30px 100px;
}

.card > p {
    text-align: justify;
    box-sizing: border-box;
    padding-left: 30px;
    border-left: 2px solid cornflowerblue;
}


